<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
    </head>
    <body>
        <h1>Welcome {{name}}</h1>
        <a href="www.google.com">not google</a>

        <ul>
            {% for city in city_names %}
              <li>{{city}}</li>
            {% endfor %}
         </ul>

        <p>City Name</p>
        <input type="text" maxlength="32">
        <br><br>
        <button type="button">Submit</button>

        <form action="" method="post" novalidate>
            <p>
            {{ form.textbox.label }}<br>
            {{ form.textbox(size=32) }}
            </p>
            <p>{{ form.submit() }}</p>
        </form>

    </body>
</html>