<!DOCTYPE html>
<html lang="en">
    <head>

    </head>
    <body>
    <h1>Welcome {{name}}</h1>
        <a href="www.google.com">not google</a>

        <ul>
            {% for city in city_names %}
              <li>{{city}}</li>
            {% endfor %}
         </ul>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}


        {% block body %}
            <p>city name</p>
            <input type="text" maxlength="32" name="nm"/>
            <br><br>
            <input type="submit" value="submit"/>
        {% endblock %}

    </body>
</html>